<!--<div class="card" style="width: 20rem;">-->
<div class="card-panel">
  <!--<div class="card-body">-->
  <div class="card-content">
    <h5 class="card-title">Post Statistics</h5>
    <p class="card-text">Total posts: <%= Post.count %> </p>
  </div>
</div>