<h4 class="my-4">Useful Links</h1>
<div class="list-group">
    <a href="/user/mypost" class="list-group-item">My Post</a>
    <a href="/user/mywishlist" class="list-group-item">My Wishlist</a>
    <a href="#" class="list-group-item">Notification</a>
    <a href="/user/profile" class="list-group-item">Edit Profile</a></a>
</div>