<div class="col s12 m12 l12">
    <ul>
        <li><h6 class="input-field col s12">Useful Links<h6></li>
        <li><a href="/user/mypost" class="input-field col s12">My Post</a></li>
        <li><a href="/user/mywishlist" class="input-field col s12">My Wishlist</a></li>
        <li><a href="/user/profile" class="input-field col s12">Edit Profile</a></li>
    </ul>
</div>


<!--<div class="row center" id="user-sidebar">-->
<!--    <div class="col s12 m12 l12">-->
<!--        <table>-->
<!--          <thead>-->
<!--            <tr>-->
<!--              <th>Useful Links</th>-->
<!--            </tr>-->
<!--          </thead>-->
          
<!--          <tbody>-->
<!--            <tr><td><a href="/user/mypost" class="input-field col s12">My Post</a></td></tr>-->
<!--            <tr><td><a href="/user/mywishlist" class="input-field col s12">My Wishlist</a></td></tr>-->
<!--            <tr><td><a href="/user/profile" class="input-field col s12">Edit Profile</a></td></tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->