<div class="row">
    <!--<div class="collection">-->
    <!--    <a href="/user/mypost" class="collection-item">My Post</a>-->
    <!--    <a href="/user/mywishlist" class="collection-item">My Wishlist</a>-->
    <!--    <a href="/user/profile" class="collection-item">Edit Profile</a></a>-->
    <!--</div>-->
    <ul>
        <li><h6 class="input-field col s12">Useful Links<h6></li>
        <li><a href="/user/mypost" class="input-field col s12">My Post</a></li>
        <li><a href="/user/mywishlist" class="input-field col s12">My Wishlist</a></li>
        <li><a href="/user/profile" class="input-field col s12">Edit Profile</a></li>
    </ul>
</div>