<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">User Statistics</h4>
    <p class="card-text">Total registered users: <%= User.count %> </p>
  </div>
</div>