<div class="container" id="homepage">

  <div class="row">
    <div class="col-lg-2">
      <%=render "users/admin_sidebar" %>
    </div>
    
    <div class="col-lg-10">
      <%= render partial: 'users/admin_stats' %>
    </div>
  </div>
</div>
