<!--<div class="container" id="profilepage">-->
  <div class = "row">
    <div class ="col left s12 m12 l12">
      <h5>Welcome, you are logged in as <span class="user_name"><%= current_user.name %></span> </h5>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="col s12 m2 l2">
      <%=render "users/profilesidebar" %>
    </div>
    
    <div class="col s12 m10 l10">
      <%= render partial: @view_to_render, locals: {posts: @mypost} %>
    </div>

  </div>
<!--</div>-->