<div class="container" id="profilepage">

  <div class="row">
    <div class="col-lg-2">
      <%=render "users/profilesidebar" %>
    </div>
    
    <div class="col-lg-10">
      <%= render partial: 'users/mypost_grid', locals: {posts: @mypost} %>
    </div>

  </div>
</div>