<div class="container" id="homepage">

  <%=render "posts/filter_sidebar" %>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11" id="results">
      <%= render partial: 'layouts/posts_grid', locals: {posts: @posts} %>
    </div>
  </div>
  <div class="row" id="paging">
    <%= paginate @posts %>
  </div>
</div>
