$("#updateFormSubcategory").html(
    "</p></h1><%= escape_javascript(render partial: 'posts/subcategory', locals: { subcategory: @selected_subcategory, current_subcategory: @current_subcategory } ) %>"
);