
@import "bootstrap";

body {
  padding-top: 60px;
}

@media (min-width: 992px) {
  body {
    padding-top: 60px;
  }
}

#navBarSearchForm input[type=text]{
    width:430px !important;
}

.card p{
  font-size: 13px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

#showPost img {
    width: 300px; /* you can use % */
    height: auto;
    left: 0px;
}