
@import "bootstrap";
@import "d3_timeseries";
@import "login";

#pageContent {
  padding-top: 100px;
}

#navBarSearchForm input[type=text]{
    width:430px !important;
}

.card p{
  font-size: 13px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

#showPost img {
    width: 300px;
    height: auto;
    left: 0px;
}

#flash div {
    text-align: center;
    color: red;
}

#login {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#adminPage {
    h2 {
        margin: 50px 20px;
    }
}

#post_page {
    margin-left: 0px;
}

.breadcrumb {
    background-color: #EEEEEE;
}


#paging {
    margin: auto; 
    max-width: 500px;
}

.card-title {
    font-size: 18px;
}