<div id="home-carousel" class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-item berkeley" href="/">
    <%= image_tag "slides/slide1.jpg" %>
  </div>
  <div class="carousel-item berkeley lawrence" href="/">
    <%= image_tag "slides/slide2.jpg" %>
  </div>
</div>