<div id="home-carousel" class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-item berkeley" href="/">
    <img src="/images/slide1.jpg">
  </div>
  <div class="carousel-item berkeley lawrence" href="/">
    <img src="/images/slide2.jpg">
  </div>
</div>