<div class="row">
    <% posts.each do |post_info| %>
      <div class="col s3">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <%= link_to ("posts/%d" % post_info.id)  do %>
            <%= image_tag safe_url(post_info.image.url(:thumb)), class:"card-img-top" %>
          <% end %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">$<%= post_info.price %></span>
            <p><%= link_to post_info.short_title, "posts/%d" % post_info.id, class: "berkeley-text text-lawrence" %></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
