<div class="container" id="homepage">

  <div class="row">
    <div class="col-lg-2">
      <%=render "layouts/sidebar" %>
    </div>
    
    <div class="col-lg-10">
      <%= render partial: 'layouts/posts_grid', locals: {posts: @posts} %>
    </div>
  </div>
</div>
