<div class="container" id="homepage">
  <div class="row">
    <div class="col-lg-2">
      <%=render "application/filter_sidebar" %>
    </div>
    
    <div class="col-lg-10" id="results">
      <%= render partial: 'application/posts_grid', locals: {posts: @posts} %>
    </div>
  </div>
  <%=render "application/paging" %>
</div>

