<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="divider"></div>
      <div class="col s12 m12 l12 center">
        <br>
        <p>2017 © Berkeley Marketplace</p>
        <ul>
        <li><a href="https://github.com/saasbook/BerkeleyMarketPlace/issues/new">Report A Bug</a></li>
        <li><a href="https://github.com/saasbook/BerkeleyMarketPlace">Join Our Team</a></li>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>