<div class="navbar-fixed">
  <nav class="berkeley lawrence">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12 m12 l2">
          <ul>
            <li><a href="/" class="brand-logo">Berkeley Marketplace</a></li>
            <a href="#" data-activates="mobile-list" class="button-collapse"><i class="material-icons">menu</i></a>
          </ul>
        </div>
        <div class="col l6 hide-on-med-and-down">
          <form class="search-input" action="/search-posts" method="get">
            <div class="input-field">
              <input id="search_terms" name="search_terms" type="search" placeholder="Explore Marketplace" />
            </div>
          </form>
        </div>
        <div class="col l4 hide-on-med-and-down" >
          <ul>
            <li><a href="/posts/new">Post Now!</a></li>
            <li><a href="/user/profile">Dashboard</a></li>
            <% if current_user.superuser? %>
              <li><a href="/admin">Admin</a></li>
            <% end %>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>  
    </div>
  </nav>
</div>


<ul id="mobile-list" class="side-nav">
  <li><a href="/posts/new">Post Now!</a></li>
  <li><a href="/user/profile">Dashboard</a></li>
  <% if current_user.superuser? %>
    <li><a href="/admin">Admin</a></li>
  <% end %>
  <li><a href="/logout">Logout</a></li>
</ul>

<div class="navbar-fixed hide-on-large-only">
  <nav>
    <div class="nav-wrapper">
      <form class="s12" action="/search-posts" method="get">
        <div class="input-field">
          <input id="search_terms" name="search_terms" type="search" placeholder="Explore Marketplace">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>